
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0px 28px;
    border-radius: 4px;
    overflow: visible;
}

 .logo{
    width: 62px;
    height: 62px;
    border-radius: 40px;
    margin: 0px 31px 3px 22px;
    text-align: center;
    align-items: center; 
} 

.side-nav{

    /* background-color: #4814d8; */
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, rgb(80, 18, 179), #FF416C);
    text-align: center;
    color: white;
    padding: 0 100px 0 10px;
    text-align: center;

}

.nav-li{

    text-align: center;
    color: white;
    font-family: sans-serif;
    
}
/* #Logout-btn{
height: 20px;
widows: 30px;
color: rgb(49, 16, 37);
margin: 0px -64px 12px -7px;
align-items: center;

} */
.gpro img{
align-items: center;
border-radius: 50px;
display: flex;
height: 50px;
width: 50px;
padding: 0 -64px 0 90px;

}
.mat-toolbar-ro{

height: 80px;
width: 30px;
padding: 0px 91px 0px 75px;

}
.mat-tool-bg{
    background: linear-gradient(to right, rgb(80, 18, 179), #FF416C);
    color: white;

}
.nav-li{

text-align: center;
color: white;

}
mat-nav-list{

text-align: center;
color: white;

}
.btn-navg{

    background: linear-gradient(to right, rgb(80, 18, 179), #FF416C);
    border-radius: 0 30px 0 30px;
    border: 2px solid #fff;
    size: 900px;
   
}


btn-navg a.active {
    background-color: #4CAF50;
    color: white;
  }
.logout-btn{

background-color: #0a0a0a;
color:#fff;
border-radius: 17px;
text-align: center;
margin-left: 75px;
}
.logout-btn::before{


position: absolute;
background-color: #58014f;
left: 10px;
top: 10px;
border-radius: 20px;

}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 17px 6px 0 0px;
}

.mat-toolbar-multiple-rows {
    min-height: 76px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 41px 20px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.logo-text{

color:white;


}
