  <mat-toolbar class="mat-tool-bg" >

    <mat-toolbar-row>
      <span><h1 class="logo-text">TechMind</h1></span>

      <img class="logo"src="../assets/Logo.png">
      
       
      <span class="menu-spacer"></span>
      
      <div class="navdesign">
        <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/about'"> About </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/services'"> Services </a>
        <a mat-button [routerLink]="'/gallery'"> Gallery </a>
        <a mat-button [routerLink]="'/blogs'"> Blogs </a>
        <a mat-button [routerLink]="'/create-activity'">Login </a>
        <a mat-button [routerLink]="'/create-activity'"> Register </a>
      </div>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
        <a class="gpro" >{{ userName ? userName : " " }}<span> <img [src]="userProfile" alt="user image"/></span></a>
      <a mat-button id="Logout-btn" class="logout-btn" mat-button (click)="signOut()">Logout</a>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav class="side-nav" position="end"  #sidenav>
      <mat-nav-list class="nav-li">
  
        <a  mat-list-item [routerLink]="'/accounts'"> Python </a>
        <a mat-list-item [routerLink]="'/create-account'"> Java </a>
        <a mat-list-item [routerLink]="'/contacts'"> .Net Core  </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Node.js </a>
        <a  mat-list-item [routerLink]="'/activities'"> Angular </a>
        <a  mat-list-item [routerLink]="'/activities'"> React Native </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Ionic 4 </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item >Logout</a>
  
      </mat-nav-list>
    </mat-sidenav >
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>

